<h1 mat-dialog-title>Update Note ID {{note.id}}</h1>
<div mat-dialog-content>
  <mat-form-field  >
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="note.title">
  </mat-form-field>
  <mat-form-field >
    <mat-label>Summary</mat-label>
    <textarea matInput
    maxlength="250"
    [(ngModel)]="note.summary"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sart Date</mat-label>
    <input matInput [matDatepicker]="dp" [(ngModel)]="selectedDate">
    <mat-hint>MMMM DD, YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
  <mat-form-field  >
    <mat-label>Duration</mat-label>
    <input type="number" step="1" min="1" matInput [(ngModel)]="duration">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Label</mat-label>
    <mat-chip-grid #chipGrid aria-label="Label selection">
        <mat-chip-row *ngFor="let item of note.labels;" (removed)="removeLabel(item)">
          {{getLabelName(item)}}
          <button matChipRemove [attr.aria-label]="'remove ' + getLabelName(item)">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
    </mat-chip-grid>
    <input placeholder="Add Label..." #labelInput 
      [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
      />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addLabel($event)">
        <mat-option *ngFor="let item of label ; trackBy: trackByFn" [value]="item.text">{{item.text}}</mat-option>
      </mat-autocomplete>
      
  </mat-form-field>
</div>
<div mat-dialog-actions >
  <button mat-button (click)="doAction()"  mat-flat-button color="primary">Save</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
