<h1 mat-dialog-title>Update Note ID {{note.id}}</h1>
<div mat-dialog-content>
  <mat-form-field  >
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="note.title">
  </mat-form-field>
  <mat-form-field >
    <mat-label>Summary</mat-label>
    <textarea matInput
    maxlength="250"
    [value]="note.summary"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sart Date</mat-label>
    <input matInput [matDatepicker]="dp" [(ngModel)]="selectedDate">
    <mat-hint>MMMM DD, YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
  </mat-form-field>
  <mat-form-field  >
    <mat-label>Duration</mat-label>
    <input type="number" step="1" min="1" matInput [(ngModel)]="duration">
  </mat-form-field>
</div>
<div *ngIf="note.labels.length > 0" class="chip-container">
  <mat-chip *ngFor="let item of note.labels" removable (removed)="removeItem(item)">
    {{ getLabelName(item) }}
    <mat-icon matChipRemove>cancel</mat-icon>
  </mat-chip>
</div>
<div mat-dialog-actions >
  <button mat-button (click)="doAction()"  mat-flat-button color="primary">Save</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
